body {
  font-family: 'Heebo', sans-serif;
  padding: 2em;
  background-color: #F4F0ED;

}

h1 {
  font-size: 2.5em;

}

.logo {
  text-align: center;
  -display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-html {
  background-color: #7F1C25;
  font-size: 14px;
  font-weight: 100;
}

.skill-js {
  background-color: #993333;
  font-size: 14px;
  font-weight: 100;
}

.skill-jquery {
  background-color: #BAB0AE;
  font-size: 14px;
  font-weight: 100;
}

.skill-html,
.skill-js,
.skill-jquery {
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
  border-radius: 4.2px;
}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
  border-radius: 5px;
  font-weight: 300;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  font-weight: 300;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
