div {
	border-radius: 0px;
}

body {
	font-family: 'Arial', sans-serif;
	font-size: 18px;
    -font-weight: 400;
	color:#000000;
    background-color: #d3d3d3;
    min-width: 1500px;
	-text-align: center;

}


#underbar {
	font-family: 'Arial', sans-serif;
	font-size: 15px;
    font-weight: 400;
	color:#000000;
    -background-color: #FFFFFF;
	text-align:left;
	padding:.05px;
	margin-top: 55px;
	margin-bottom: 55px;
	margin-left: 35px;
	margin-right: 35px;
	width: 100%;

}



hr { 
	color:#09c;
	width: 100%; 
	height: 1px; 
}

#sections {
    -background-color:#BDBDBD;
    background-color:#FFFFFF;
   	text-align:center;
   	width: 100%;
    padding:.05px;
}

#header {
	z-index: 1;
	position: fixed;
	width: 98.9%;
	margin-top: -16px;
	height: 60px;
	background-color: #000000;
	-box-shadow: 2px 2px 2px #888888;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 21px;
    font-family: 'Tahoma', sans-serif;
	color:#9C6;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 20px;
    font-family: 'Tahoma', sans-serif;
	color:#9C6;
}

h2 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
    -text-transform: uppercase;
	
}

h3 {
    margin-left: 5px;
	margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
	font-size: 16px;
    letter-spacing: -.60px;
    font-weight: 300;
    -text-transform: uppercase;
	
}

h4 {
   
	font-family: 'Arial';
	font-size: 11px;
    
    text-transform: lowercase;
	
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	-color: #9C6;
}

li {
	
	font-family: 'Arial', sans-serif;
	margin: 1.2em 0;
    font-size: 16px;
}

a:hover {
	font-weight: bold;
	color: #000;
	
}

a:link {
	text-decoration: none;
    color: #000;
	
}

.left {
	position: fixed;
	float: left;
	margin-top: 57px;
	width: 10%;
	height: 2018px;
	-background-color: #FFFFFF;
	-box-shadow: 2px 2px 2px #888888;
	-margin: 20px 11px 13px 2px;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	color:#09c;
 
}

.right1 {
	-position: center;
	float: right;
	margin-top: 40px;
	width: 83%;
	height: 40px;
	-background:#FFFFFF;
	-margin-bottom: 0.1px;
    margin-right: 86px;
    -margin-left: 3px;
    
	
}

.navtop {  
    -position: fixed;
    margin-right: 110px;
    float: left;
    margin-bottom: 11115px;
    font-family: 'Arial', sans-serif;
    -font-weight: 300;
    font-size: 15px;
    
    letter-spacing: -.60px;
    -text-transform: uppercase;
    -background-color: red;
}


    


.right2 {
	position: relative;
	float: right;
	margin-top: -11px;
	width: 88.9%;
    -padding: 0px 0px 0px 5px;
	height: 6000px;
	background:#f6f6f6;
	margin-bottom: 10px;
	
}

#footer {
	-position: relative;
	height: 60px;
	background-color: #EDF0F5;
	clear: both;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	text-align: center;
	color:#000000;
	-box-shadow: 2px 2px 2px #888888;
}

#footer p {
	position: relative;
	padding-top: 15px;
}

.my-icon {
    position: relative;
}
.my-icon > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 1.5em solid #ff0000;
    border-radius: 1.5em;
    left: 0em;
    top: 0em;
}

